@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .notap {
    -webkit-tap-highlight-color: transparent;
  }
}
@layer base {
  .pattern {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: linear-gradient(135deg, #3b82f655 25%, transparent 25%) -10px 0/
        20px 20px,
      linear-gradient(225deg, #3b82f6 25%, transparent 25%) -10px 0/ 20px 20px,
      linear-gradient(315deg, #3b82f655 25%, transparent 25%) 0px 0/ 20px 20px,
      linear-gradient(45deg, #3b82f6 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
  }
}
